.header {
  height: 0.44rem;
  text-align: center;
  color: #ffcd32;
  font-size: 0;
}

.header .icon {
  display: inline-block;
  vertical-align: top;
  margin-top: 0.06rem;
  width: 0.3rem;
  height: 0.32rem;
  margin-right: 0.09rem;
  background-image: url('../../assets/images/logo@2x.png');
  background-size: 0.3rem 0.32rem;
}
@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
  .header .icon {
    background-image: url('../../assets/images/logo@3x.png');
  }
}

.header .text {
  display: inline-block;
  vertical-align: top;
  line-height: 0.44rem;
  font-size: 0.18rem;
  color: #ffcd32;
}

.header .mine {
  position: absolute;
  top: 0;
  right: 0;
}

.header .mine .iconMine {
  display: block;
  padding: 0.12rem;
  font-size: 0.22rem;
  color: #ffcd32;
}
