.addSong {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 300;
  background: #222;
}

.header {
  position: relative;
  height: 0.44rem;
  text-align: center;
}

.title {
  line-height: 0.44rem;
  font-size: 0.18rem;
  color: #fff;
}

.close {
  position: absolute;
  top: 0;
  right: 0.08rem;
}

.iconClose {
  display: block;
  padding: 0.12rem;
  font-size: 0.2rem;
  color: #ffcd32;
}

.searchInputWrapper {
  margin: 0.2rem;
}

.listWrapper {
  position: absolute;
  top: 1.65rem;
  bottom: 0;
  width: 100%;
}

.listWrapper .listScroll {
  height: 100%;
  overflow: hidden;
}

.listWrapper .listScroll .listInner {
  padding: 0.2rem 0.3rem;
}

.searchResult {
  position: fixed;
  top: 1.24rem;
  bottom: 0;
  width: 100%;
}

.messageTitle {
  text-align: center;
  padding: 0.18rem 0;
  font-size: 0;
}

.messageTitle .iconOk {
  font-size: 0.14rem;
  color: #ffcd32;
  margin-right: 0.04rem;
}

.messageTitle .text {
  font-size: 0.14rem;
  color: #fff;
}
