.progressBar {
    height: .30rem;
}

.barInner {
    position: relative;
    top: .13rem;
    height: .04rem;
    background: rgba(0, 0, 0, 0.3);
}

.progress {
    position: absolute;
    height: 100%;
    background: #ffcd32;
}

.progressBtnWrapper {
    position: absolute;
    left: -.08rem;
    top: -.13rem;
    width: .30rem;
    height: .30rem;
}
.progressBtn {
    position: relative;
    top: .07rem;
    left: .07rem;
    box-sizing: border-box;
    width: .16rem;
    height: .16rem;
    border: .03rem solid #fff;
    border-radius: 50%;
    background: #ffcd32;
}
