html {
  font-size: 100px;
}

body {
  font-size: .12rem;
}

.container {
  color: #fff;
  width: 100%;
  background: #222;
}


/* 修改andt轮播图样式 */

.ant-carousel .slick-dots li {
  width: .08rem !important;
  height: .08rem !important;
  margin: 0 .04rem !important;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  overflow: hidden;
}

.ant-carousel .slick-dots li button {
  height: .08rem !important;
  background: rgba(255, 255, 255, 0.5);
}

.ant-carousel .slick-dots li.slick-active {
  width: .2rem !important;
  border-radius: .05rem !important;
  background: rgba(255, 255, 255, 0.8) !important;
}
